.galeria{
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

h2.text-center {
  margin-bottom: 30px;
}

.img-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2s ease-in-out;
}

.img-container img:hover {
  transform: scale(1.05);
}

.modal.show {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.modal-galery {
  background-color: transparent;
  border: none;
}

.modal-content .modal-body {
  padding: 0;
}

@media (min-width: 770px) {
  h2.text-center {
    margin-bottom: 30px;
  }

  .padded {
    padding: 40px 0;
  }
}