.precio-anterior {
  font-size: 0.8em;
  text-decoration: line-through;
  color: var(--color-gris-claro);
  margin-left: 10px;
}

.list-group-item.active {
  z-index: 2;
  color: var(--bs-list-group-active-color);
  background-color: var(--color3);
  border-color: var(--color3);
}

.porcentaje-descuento {
  background-color: var(--color5);
  color: var(--color-blanco);
  position: absolute;
  top: 0;
  right: 0;
  padding: 6px 10px;
  border-radius: 3px;
}
.icono-vista-rapida {
  position: absolute;
  right: -10px;
  top: 50px;
  background-color: rgba(0, 0, 0, 0.4);
  color: var(--color-blanco);
  padding: 8px 12px;
  border-radius: 50%;
  opacity: 0;
  transition: all ease-in-out 0.5s;
  cursor: pointer;
}

.icono-vista-rapida-mostrar {
  opacity: 1;
  right: 10px;
}

.iconocarrito {
  cursor: pointer;
  margin-left: 5px;
}

.iconocarrito:hover {
  color: var(--color5);
}

.vista-rapida{
  width: 250px;                      
  height: 250px;
}

.detalle-producto{
  width: 420px;                      
  height: 420px;
}
