@import url('https://fonts.googleapis.com/css2?family=Anek+Odia:wght@100..800&display=swap');:root {
  --primary: #c20a3f;
  --color-blanco: #ffffff;
  --color-negro: #000000;
  --color-gris-claro: #cccccc;
  --color-gris-oscuro: #333333;
}

body {
  font-family: 'Anek Odia', sans-serif;
}

h1 {
  font-size: 64px;
  font-weight: 200;
  letter-spacing: -4px; 
}

h2 {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: -2px;
  text-transform: uppercase; 
  letter-spacing: 1px;
}
h3 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase; 
}

h4 {
  color: var(--primary);
}

.padded {
  padding-top: 90px;
  padding-bottom: 90px;
}

@media (min-width: 1500px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1440px;
  }
}

::selection {
  background-color: var(--color-blanco);
  color: var(--primary);
}

a {
  text-decoration: none;
}

body::-webkit-scrollbar {
  background-color: var(--color-gris-claro);
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}

body::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-gris-oscuro);
}


.mb-3 .form-control:focus {
  box-shadow: 0 0 5px var(--primary); 
  border-color: var(--primary); 
}



@media (max-width: 770px) {
  h2 {
    font-size: 30px;}
}